/** @format */

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &-wrapper {
    background-color: var(--theme);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.3);
    width: 400px;
    max-width: 100%;
  }
  &-header {
    padding: 20px 40px;
    border-bottom: 1px solid #f0f0f0;
    &__head {
      font-size: 2.5rem;
    }
  }
  .form {
    padding: 30px 40px;
    .form-control {
      // width: 100%;
      margin-bottom: 10px;
      padding-bottom: 20px;
      position: relative;
      .form-label {
        display: inline-block;
        margin-bottom: 5px;
      }
      .form-input {
        border: 2px solid #f0f0f0;
        border-radius: 4px;
        padding: 10px;
        display: block;
        // dhs 100% ko dc
        width: 100%;
      }
      svg {
        visibility: hidden;
        position: absolute;
        top: 40px;
        right: 10px;
        color: var(--bg);
      }
      .form-error__message {
        visibility: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    // success and error
    .form-control.success input {
      border-color: #2ecc71;
    }
    .form-control.success .form-icon__success {
      visibility: visible;
      color: #2ecc71;
    }
    .form-control.error input {
      border-color: #e74c3c;
    }
    .form-control.error .form-icon__error {
      visibility: visible;
      color: #e74c3c;
    }
    .form-control.error .form-error__message {
      color: #e74c3c;
      visibility: visible;
    }
    // end success and error
    &-btn {
      cursor: pointer;
      display: block;
      width: 100%;
      background-color: var(--bg);
      color: var(--text);
      border: 0px;
      border-radius: 4px;
      padding: 10px;
    }
    &-link {
      color: var(--text);
    }
  }
}