/** @format */

.subscribe {
  --margin-base: 0.5rem;
  margin-bottom: calc(10 * var(--margin-base));
  &-header {
    margin-bottom: calc(6 * var(--margin-base));
  }
  &-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &-form-input {
    flex: 1;
    width: 100%;
    outline: none;
    padding: 15px 10px;
    border-radius: 4px;
    &:focus {
      border-color: var(--primary-color);
    }
  }
  &-form-button {
    border: 0;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 5px 15px;
    background-color: var(--primary-color);
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    flex-shrink: 0;
  }
}