/** @format */

.arrival {
  &__item--container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-image--overlay {
    position: absolute;
    transition: all 0.3s ease;
    background-color: $primary-color;
    opacity: 0;
    // background: url("../images/categories/item1/Men's-Nike-Air-Max-Right.jfif");
  }
  .overlay--all {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__item--container:hover .overlay--all {
    opacity: 1;
  }
  &__label {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}