/** @format */

// textarea:hover,
// input:hover,
// textarea:active,
// input:active,
// textarea:focus,
// input:focus,
// button:focus,
// button:active,
// button:hover,
// label:focus,
// .btn:active,
// .btn.active {
//   outline: 0px !important;
//   -webkit-appearance: none;
//   box-shadow: none !important;
// }
img {
  max-width: 100%;
  display: block;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}