/** @format */

.mynav {
  &-logo {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
  }
  .navform {
    &-inputgroup {
      border-bottom: 1px solid #ccc;
      transition: 0.5s;
      &:hover {
        border-bottom: 1px solid rgb(128, 121, 121);
      }
    }
    &-input,
    &-btn {
      border: 0;
      outline: 0px;
      -webkit-appearance: none;
      box-shadow: none;
    }
    &-btn {
      border: 0;
      background-color: white;
      color: black;
    }
  }
}