/** @format */

.carousel-fade {}

.mycarousel-item {
  height: 32rem;
  background-color: #777;
  color: white;
  position: relative;
  .overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .overlay-image--1 {
    background: url('../images/slider/carousel-img1.jpg');
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    opacity: 0.5;
  }
  .overlay-image--2 {
    background: url('../images/slider/carousel-img2.jpg');
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    opacity: 0.5;
  }
}

.mycarousel-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 50px;
}