/** @format */

.new-products {
  &__title {
    font-size: 2rem;
    margin-bottom: 4rem;
  }
  .feature {
    --margin-base: 0.5rem;
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-content {
      padding: 1rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-name {
      margin-bottom: calc(2 * var(--margin-base));
    }
    &-price {
      margin-bottom: calc(2 * var(--margin-base));
    }
  }
}