/** @format */

.hero {
  --margin-base: 0.5rem;
  background: url('../images/home/main-bg.jpg') no-repeat center/cover;
  max-height: 500px;
  position: relative;
  &-image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--bg);
    opacity: 0.3;
    z-index: 1;
  }
  &-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--text);
  }
  &-wrapper {
    z-index: 2;
    width: 100%;
    .btn-hero {
      margin-bottom: calc(2 * var(--margin-base));
      margin-left: calc(2 * var(--margin-base));
    }
  }
  &-header {
    margin-bottom: calc(3 * var(--margin-base));
    font-size: 3.5rem;
  }
  &-text {
    margin-bottom: calc(5 * var(--margin-base));
    line-height: var(--line-height-primary);
  }
}