/** @format */

// layout
$wrapper: 1520px;
$container: 1265px;
// primary-color
$primary-color: #e9edf0;
$secondary-color: #f8f9fa;
$text-primary-color: #212529;
$text-secondary-color: #96a1a7;
// components-color
$mistyrose-color: #efe3e3;
$crimson-color: #dc3545;
$darkkhaki-color: #bcac76;
$white-color: #bcac76;
$black-color: #32363a;