/** @format */

// import custom scss
@import './ultilities/variables';
@import './layout/general';
@import './layout/header';
@import './layout/navbar';
@import './layout/slider';
@import './layout/pricing';
@import './layout/arrival';
@import './layout/services';
@import './layout/footer';